VITE_BASE_PATH=/our-tasks/
VITE_GOOGLE_CLIENT_ID=REPLACE_WITH_GOOGLE_CLIENT_ID
VITE_APPS_SCRIPT_ENDPOINT=REPLACE_WITH_APPS_SCRIPT_URL
VITE_APP_URL=https://YOUR_GITHUB_USER.github.io/our-tasks/
VITE_BABY_APP_URL=
VITE_MOCK_MODE=true
